body{
	background-color:#A6A198;
	font-family:Verdana,arial;}
header{
	position:absolute;
	top:10px;
	left:210px;
	right:150px;
	height:240px;
	width:750px;
	background-color:#F28C0F;
	border: 5px white;
	border-radius:10px;
	

}
section{
	background-color:#F2B872;
	width:700px;
	margin:left:400px:;
	position:absolute;
	height:1280px;
	top:300px;
	left:300px;
	right:300px;
	border: 5px dotted #F2B872;
	border-radius:10px;
	box-shadow: 10px 10px 0px black;
	
	
	
	
}
nav{
	
	position:absolute;
	top:300px;
	left:150px;
	width:150px;
	height:1280px;
	float:left;
	right:1000px;
	border: 5px dotted #F2A413;
	box-shadow: 6px 6px 0px black;
	background-color:#F2A413;
	
	
	
}
footer{
	position:absolute;
	background-color:#A67A29 ;
	top:1612px;
	left:245px;
	right:500px;
	height:330px;
	border: 5px outset #F2A413;
	text-align:center;
	width:700px;
	border-radius:10px;
}
aside{
	
	margin:left:150px:;
	position:fixed;
	height:450px;
	top:190px;
	left:1115px;
	width:200px;
	right:8px;
	border: 5px dotted white;
	border-radius:10px;
	box-shadow: 6px 6px 0px black;
	background-color:#F28C0F;
	
	
  
}
h1{color:#6D071A;
text-align:center;
font-size: 45px; 
}
h3{color:#6D071A;}
p{font-size: 20px;}